<h3>{{category.name}}</h3>
<br>
Description: {{category.description}}
<hr>
Posts in {{category.name}}:

<ul>
  {{#each category.newsitem as |newsitem|}}
    <li>{{#link-to 'newsitem' newsitem.id}} {{newsitem.headline}}{{/link-to}}</li>
  {{/each}}
</ul>

 <a href="#" {{action 'delete' category}}>delete this category</a>{{update-category category=category updateCategory="updateCategory"}}
