{{#if addComment}}
  <h1>New Comment</h1>
    <div>
      <form id="addCommentForm">
        <label for="commenter_name"> Your name:</label>
        {{input value=commenter_name id="commenter_name" class="form-control"}}
        <label for="commenter_comment"> Your comment:</label>
        {{textarea value=commenter_comment id="commenter_comment" class="form-control"}}
        <br>
        <button {{action 'saveComment'}}>Save</button>
      </form>
    </div>
{{else}}
    Thank you for posting.
{{/if}}
