{{#if showNewEventForm}}
  <h1>New Event</h1>
    <div>
      <form>
        <label for="name"> Event name:</label>
        {{input value=name id="name" class="form-control"}}
        <label for="date"> Event name:</label>
        {{input value=date id="date" class="form-control"}}
        <label for="time"> Event time:</label>
        {{input value=time id="time" class="form-control"}}
        <label for="longitude">Longitude</label>
        {{input value=longitude id="longitude" class="form-control"}}
        <label for="latitude">Latitude</label>
        {{input value=latitude id="latitude" class="form-control"}}
        <br>
        <button {{action 'saveEvent' event}}>Save</button>
      </form>
    </div>
{{else}}
<a href="#" {{action 'showNewEventForm'}}>Add new event</a>
{{/if}}
