{{#if addCategoryForm}}
  <h1>New Category</h1>
    <div>
      <form>
        <div class="form-group">
          <label for="name">Name</label>
          {{input value=name id="name" class="form-control"}}
        </div>

        <div class="form-group">
          <label for="description">Description</label>
          {{input value=description id="description" class="form-control"}}
        </div>

        <button {{action 'saveCategory'}}>Save</button>
      </form>
    </div>
{{else}}
    <a href="#" {{action 'categoryFormShow'}}>Add new category</a>
{{/if}}
