{{#if addNewNewsitem}}
  <h1>New Newsitem</h1>
    <div class="col-md-8">
      <form>
        <div class="form-group">
          <label for="headline">Headline</label>
          {{input value=headline id="headline" class="form-control"}}
        </div>

        <div class="form-group">
          <label for="author">Author</label>
          {{input value=author id="author" class="form-control"}}
        </div>

        <div class="form-group">
          <label for="image">Image URL</label>
          {{input value=image id="image" class="form-control"}}
        </div>

        <div class="form-group">
          <label for="content">Intro - the first paragraph of your content is ideal.</label>
          {{input value=intro id="intro" class="form-control"}}
        </div>

        <div class="form-group">
          <label for="content">Content</label>
          {{textarea value=content id="content" class="form-control"}}
        </div>

        <button {{action 'saveNewsitem' category}}>Save</button>
      </form>
    </div>
{{else}}
    <a href="#" {{action 'newsitemFormShow'}}>Add newsitem</a>
{{/if}}
