<div class="row">
  <div class="datebox col-md-1">{{format-date newsitem.date_added}}</div>
  <div class="col-md-6" id="title_author"><h3>{{newsitem.headline}}</h3><br>
    A post in {{#link-to 'category' newsitem.category.id}}{{newsitem.category.name}}{{/link-to}} by {{newsitem.author}} on {{format-date newsitem.date_added}}<br>
  </div>
</div>

<div class="row">
  <div class="col-md-offset-1">
    <p><img class="img-responsive img_height" src={{newsitem.image}} alt={{newsitem.headline}} >{{newsitem.content}}</p>
  </div>
</div>

<div class="row">
  <div class="col-md-offset-1 col-md-5">
    <p>Add a comment to this article:</p>
    {{#each newsitem.comment as |comment|}}
      <li>
        on {{format-date comment.date_added}}
        {{comment.commenter_name}} commented:<br>
        {{comment.commenter_comment}}<br>
        <a href="#" {{action 'deleteComment' comment}}><span class="glyphicon glyphicon-trash"></span></a>
        {{update-comment comment=comment updateComment="updateComment"}}
      </li>
    {{/each}}
    {{new-comment saveComment="saveComment" newsitem=newsitem}}
  </div>
</div>
<div class="row">
  <div class="col-md-offset-1">
    <p class="text-center"><a href="#" {{action 'deleteNewsitem' newsitem}}>delete this</a> | {{update-newsitem newsitem=newsitem update="update"}}</p>
  </div>
</div>
