<div class="row">
  <div class="datebox col-md-1">{{format-date newsitem.date_added}}</div>
  <div class="col-md-6" id="title_author"><h3>{{newsitem.headline}}</h3><br>
    A post in {{#link-to 'category' newsitem.category.id}}{{newsitem.category.name}}{{/link-to}} by {{newsitem.author}}<br>
  </div>
</div>

<div class="row">
  <div class="col-md-offset-1">
    <p><img class="img-responsive img_height" src={{newsitem.image}} alt={{newsitem.headline}} >{{newsitem.intro}}{{#link-to 'newsitem' newsitem.id}} ...read more{{/link-to}}</p>
  </div>
</div>
