{{#if updateCommentForm}}
  <h1>Edit Comment</h1>
    <div>
      <form>
        <label for="commenter_name"> Your name:</label>
        {{input value=commenter_name id="commenter_name" class="form-control" placeholder=comment.commenter_name}}
        <label for="commenter_comment"> Your comment:</label>
        {{textarea value=commenter_comment id="commenter_comment" class="form-control" placeholder=comment.commenter_comment}}
        <br>
        <button {{action 'updateComment' comment}}>Save</button>
      </form>
    </div>
{{else}}
  <a href="#" {{action 'updateCommentForm'}}><span class="glyphicon glyphicon-pencil"></span></a>
{{/if}}
