{{#if updateCategoryForm}}
  <h1>Update Category</h1>
    <div>
      <form>
        <div class="form-group">
          <label for="name">Name</label>
          {{input value=name id="name" class="form-control" placeholder=category.name}}
        </div>

        <div class="form-group">
          <label for="description">Description</label>
          {{input value=description id="description" class="form-control" placeholder=category.description}}
        </div>

        <button {{action 'updatecategory' category}}>Save</button>
      </form>
    </div>
{{else}}
    <a href="#" {{action 'updateCategoryForm'}}>Edit this category</a>
{{/if}}
