{{#if updateNewsitemForm}}
  <h1>Update Newsitem</h1>
    <div class="text-left">
      <form>
        <div class="form-group">
          <label for="headline">Headline</label>
          {{input value=headline id="headline" class="form-control" placeholder=newsitem.headline}}
        </div>

        <div class="form-group">
          <label for="author">Author</label>
          {{input value=author id="author" class="form-control" placeholder=newsitem.author}}
        </div>

        <div class="form-group">
          <label for="image">Image URL</label>
          {{input value=image id="image" class="form-control" placeholder=newsitem.image}}
        </div>

        <div class="form-group">
          <label for="intro">Intro - the first paragraph of your content is ideal.</label>
          {{input value=intro id="intro" class="form-control" placeholder=newsitem.intro}}
        </div>

        <div class="form-group">
          <label for="content">Content</label>
          {{textarea value=content id="content" class="form-control" placeholder=newsitem.content}}
        </div>
        <button {{action 'updateNewsitem' newsitem}}>Save</button>
      </form>
    </div>
{{else}}
    <a href="#" {{action 'updateNewsitemForm'}}>edit</a>
{{/if}}
