/*div {
  border: 1px solid blue;
}*/

.img_height{
  max-height:200px;
  max-width:auto;
  float:right;
}

#title_author{
  border-bottom:1px solid #cccccc;
}

.map-display {
    height: 600px;
    width: 600px;
  }

.datebox{
  height:80px;
  color:white;
  background: #595959;
  text-align:center;
  background: -moz-linear-gradient(top, #595959 0%, #2c2c2c 51%, #131313 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#595959), color-stop(51%,#2c2c2c), color-stop(100%,#131313));
  background: -webkit-linear-gradient(top, #595959 0%,#2c2c2c 51%,#131313 100%);
  background: -o-linear-gradient(top, #595959 0%,#2c2c2c 51%,#131313 100%);
  background: -ms-linear-gradient(top, #595959 0%,#2c2c2c 51%,#131313 100%);
  background: linear-gradient(to bottom, #595959 0%,#2c2c2c 51%,#131313 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#595959', endColorstr='#131313',GradientType=0 );
}

.footer {
  border:1px solid red;
  display:inline;
  background:#cccccc;
}

.footer div {
display:inline;
font-size:80%;
}
