<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">GET YR HUSTLE</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active">{{#link-to 'contact'}}contact{{/link-to}}</li>
        <li class="active">{{#link-to 'about_us'}}about{{/link-to}}</li>
        <li class="active">{{#link-to 'event'}}events{{/link-to}}</li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <h5>See All Current Categories</h5>

    {{#each model.categories as |category|}}
    <li>{{#link-to 'category' category.id }}{{category.name}}{{/link-to}}</li>
    {{/each}}
    <br>
    <br>
    <small>{{new-category saveCategory="saveCategory"}}</small>
    </div>
    <div class="col-md-9">
      {{outlet}}
    </div>
  </div>
</div>
<hr>
<div class="footer navbar-fixed-bottom">Today is: {{current-date}}&nbsp; &nbsp; &copy; The Hustle 2015</div>
