<div class="row">
  <div class="col-md-9">
    {{#each model.newsitems as |newsitem|}}
      {{newsitem-tile newsitem=newsitem updateNewsitem="updateNewsitem" update="update" destroyNewsitem="destroyNewsitem"}}
    {{/each}}
  </div>
</div>
